/* Carole et Léa 
--> Header, Navbar, Main, Featured Post, "Full story"button, Older Post, Barre de pagination, Footer, Partie formulaire, Bouton SendMessage, Partie coordonnées, Réseaux sociaux, Copyright */

@font-face {
	font-family: "SourceSansPro-Black";
	src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf");
}

@font-face {
	font-family: "Merriweather-LightItalic";
	src: url("../fonts/Merriweather/Merriweather-LightItalic.ttf");
}

@font-face {
    font-family: "Merriweather-Light";
    src: url("../fonts/Merriweather/Merriweather-Light.ttf");
}

@font-face {
    font-family: "FontAwesome";
    src: url("../fonts/fonts/FontAwesome.otf");
}

.col-lg-12 {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: -10px;
}

/*-------------------------Header------------------------------*/

h1, h2 {
	color: white;
}

header {
    margin-top: 14rem;
    text-align: center;
}

h1 {
	font-family: 'SourceSansPro-Black', sans-serif;
    font-size: 8rem;
    letter-spacing: 0.075em;
    line-height: 1;
    margin-bottom: 3rem;
}

h2 {
	font-family: 'Merriweather-LightItalic', serif;
    font-size: 2rem;
    font-weight: 100;
    line-height: 2.3;
    margin-bottom: 3rem;
}

.introlink {
    border-bottom: 1px dotted;
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    border-bottom: none;
    color: #18bfef;
    transition: color 0.5s, border 0.5s;
}

.fa-arrow-down {
    color: white;
    width: 65px;
    height: 65px;
    padding: 23px;
    border: solid 2px;
    border-radius: 5rem;
    margin-bottom: 9rem;
}

.fa-arrow-down:hover {
    color: #18bfef;
    transition: color 0.5s, border 0.5s;
}

/*-------------------------Navbar------------------------------*/

.topnav {
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 88%;
    background-color: RGBA(255, 255, 255, 0.2);
    height: 64px;
}

ul, li {
    list-style: none;
    display: flex;
    margin: auto;
}

.pages1 {
    font-family: 'SourceSansPro-Black', sans-serif;
    letter-spacing: 1px;
    float: left;
    height: 64px;
    padding: inherit;
}

.menu {
    border-bottom: none;
    height: 64px;
    padding: 20px;
    text-decoration: none;
    color: #ffffff;
}

.menu:hover {
    background-color: RGBA(255, 255, 255, 0.2);
    color: white;
    transition: background-color 0.7s;
}

.menuactive {
    border-bottom: none;
    height: 64px;
    padding: 20px;
    color: #212931;
    background-color: white;
}

.social1 {
    float: right;
    height: 64px;
    padding: inherit;
    font-size: 20px;
    margin-right: 3.5rem;
}

.sociallink{
    border-bottom: none;
    margin: 2rem;
    text-decoration: none;
    color: #ffffff;
}

/*-------------------------Main------------------------------*/

.col-lg-10 {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 88%;
    color: #212931;
    float: none;
    margin-bottom: 40px;
}

.col-lg-8 {
    background-color: white;
    width: 100%;
    color: #212931;
    float: none;
    margin-bottom: 110px;
    margin-left: auto;
    margin-right: auto;
}

/*-------------------------Featured Post------------------------------*/

.featuredpost {
    text-align: center;
    padding-top: 9%;
}

.date1 {
    text-align: center;
    font-size: 16px;
    font-family: 'Merriweather-Light', serif;
    margin-bottom: 70px;
}

h3 {
	font-family: 'SourceSansPro-Black', sans-serif;
    font-size: 6.5rem;
    letter-spacing: 4px;
    color: #212931;
    width: 60%;
    margin: 0 auto;
}

h3:hover {
    color: #18bfef;
    transition: color 0.5s, border 0.5s;  
}

.txt1 {
    font-family: 'Merriweather-LightItalic', serif;
    font-size: 16px;
    line-height: 35px;
    margin : 3.5%;
}

.zoom {
    position: relative;
    overflow: hidden;
    width: 907.2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8.8%;
}

.zoom img {
    max-width: 100%;
    transition: all 0.3s;
}

.zoom:hover img {
    transform: scale(1.05);
}

/*-------------------------"Full story"button------------------------------*/

.fullstory {
    color: #212931;
    font-family: 'SourceSansPro-Black', sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    width: 10%;
    padding: 15px 30px;
    border: 2px solid;
    border-color: #212931;
}

.fullstory:hover {
    text-decoration: none;
    border-bottom: 2px solid;
    color: #18bfef;
    border-color: #18bfef;
    transition: color 0.5s, border 0.3s;
}

.fullstory1 {
    color: #212931;
    font-family: 'SourceSansPro-Black', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    width: 10%;
    padding: 16px 45px;
    border: 2px solid;
    border-color: #212931;
}

.fullstory1:hover {
    text-decoration: none;
    border-bottom: 2px solid;
    color: #18bfef;
    border-color: #18bfef;
    transition: color 0.5s, border 0.3s;
}

/*-------------------------Older Post------------------------------*/

.olderpost {
    text-align: center;
    width: 100%;
}

.col-lg-5 {
    display: inline-block;
    text-align: center;
    float: none;
    padding: 0px 40px 50px 40px;
    width: 49%;
    margin: 100px 4px 0px;
}

.date {
    text-align: center;
    font-size: 12px;
    font-family: 'Merriweather-Light', serif;
    margin-bottom: 20px;
}

h4 {
	font-family: 'SourceSansPro-Black', sans-serif;
    font-size: 28px;
    letter-spacing: 3px;
    color: #212931;
    line-height: 35px;
    margin-bottom: 20px;
}

h4:hover {
    color: #18bfef;
    transition: color 0.5s, border 0.5s;  
}

.zoom2 {
    position: relative;
    overflow: hidden;
    width: 457.2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7.4%;
}

.zoom2 img {
    max-width: 100%;
    transition: all 0.3s;
}

.zoom2:hover img {
    transform: scale(1.05);
}

.txt {
    font-family: 'Merriweather-Light', serif;
    font-size: 15px;
    text-align: justify;
    width: 96%;
    margin-left: 10px;
    line-height: 35px;
    margin-bottom: 50px;
}

/*---------------- Barre de pagination --------------------*/

.col-lg-4 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0% 12% 0% 0%; 
    margin-bottom: 10%;
}

.nav_pages {
    width: 60%;
    height: 45%;
    background-color: #ffffff;
    margin: 0 auto;
    display: flex;
}

.nav_pages ul {
    margin: auto;
}

.nav_pages li {
    width: 60%;
    height: 45%;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-top: 2px solid #e2e2e2;
    border-bottom: 2px solid #e2e2e2;
    text-align: center;
    line-height: 65px;
    font-family: 'Source Sans Pro';
    font-size: 13px;
    font-weight: bold;
    margin: 0px -60px 0px 60px;
}

.nav_pages a {
    text-decoration: none;
    color: #212931;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.nav_pages a:hover {
    color: #18bfef;
    transition: color 0.5s, border 0.5s;
}

#trois_points {
    color: #e2e2e2;
    text-align: center;
    padding-left: 5%;
    width: 40%;
}

#trois_points:hover, #trois_points:active {
    color: #e2e2e2;
    border-color: #e2e2e2;
}

.pagination a {
    color: #000000;
}

.nav_pages li:last-child {
    border-right: 2px solid #e2e2e2;
    width: 100%;
}

.active {
    background-color: #eeeeee;
}

.nav_pages li:hover {
    border-color: #18BFEF;
}

/*---------------- Footer--------------------*/

footer {
    width: 100%;
    height: 790px;
    background-color: #f5f5f5;
    margin : 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.col-lg-6 {
    display: inline-block;
}

/*---------------- Partie formulaire --------------------*/

form { /* Bloc englobant les blocs formulaires */
    width: 105%;
    height: 790px;
    display: flex;
    flex-direction: column;
    margin-left: -2%;
    }

.name {
    display: flex;
    flex-direction: column;
    height: 20%;
    margin-top: 10%;
}

.email {
    display: flex;
    flex-direction: column;
    height: 20%;
    margin-top: 10%;
    margin-top: -2px;
}
.message {
    display: flex;
    flex-direction: column;
    height: 50%;
}

label {
    color: #717981;
    font-family: 'Source Sans Pro';
    font-size: 13.5px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 3%;

}

input { 
    height: 63px;
    width: 70%;
    margin: auto 3%;
    padding: 2% 0;
    border: 2px solid #e2e2e2;
    background-color: #f5f5f5; 
}

textarea {
    height: 198px;
    width: 70%;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 8%;
    background-color: #f5f5f5;
    border: 2px solid #e2e2e2; 
    background-color: #f5f5f5; 

}

/*---------------- Bouton SEND MESSAGE --------------------*/

.message button {
    height: 50px;
    width: 30%;
    margin-left: 3%;
    margin-bottom: 8%;
    margin-top: 15px;
    font-family: 'Source Sans Pro';
    font-size: 13.5px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid #717981;
    background-color: #f5f5f5; 
}
.message a {
    color: #717981;
}

.message a:hover {
    color: #18BFEF;
}

button:hover {
    border-color: #18BFEF;
    color: #18BFEF;
}

/*---------------- Partie coordonnées--------------------*/


.informations { /* Bloc englobant les blocs Address, phone, email et social */
    width: 103.8%;
    height: 790px;
    display: flex;
    flex-direction: column;
}

.coordonnees { 
    margin: 0;
    height: 25%;
    display: flex;
    border-left: 2px solid #e2e2e2;
    border-bottom: 2px solid #e2e2e2;
}

.coordonnees p, .coordonnees a {
    color: #969498;
    font-family: 'Merriweather-Light';
    margin: auto 0;
}

.coordonnees a {
    border-bottom: 1px dotted #717981;
}

.coordonnees a:hover {
    text-decoration: none;
    color: #18BFEF; 
    border-bottom: 0px;
}

address {
    color: #969498;
    font-family: 'Merriweather-Light';
    margin: 85px -15px;
    height: 40px;
}
h5 {
    color: #717981;
    font-family: 'Source Sans Pro';
    font-size: 13.5px;
    margin: auto 12%;
    font-weight: bold;
    letter-spacing: 1px;
}

/*---------------- Réseaux sociaux --------------------*/

.social {
    /*margin: 0;*/
    height: 25%;
    display: flex;
    border-left: 2px solid #e2e2e2;
}

}
.informations ul {
    margin: 0 -40px 0 0;
}

.informations li {
    width: 45px;
    height: 45px;
    list-style: none;
    border: 2px solid #e2e2e2;
    margin: 75px 5px;
    font-family: 'fontAwesome';
    border-radius: 100%;
    display: inline-flex;
    padding: 10px 14px;
}   

.social li:hover {
    border-color: #18BFEF;
    transition: color 0.5s, border 0.3s;
}

.social2 {
    color: #717981;
}

/*---------------- Barre de Copyright --------------------*/

.copyright {
    color: #50575C;
    text-align: center;
    font-family: 'SourceSansPro-Black';
    font-size: 18px;
    word-spacing: 5pt;
}

.copyright ul {
    margin: 50px auto;
    width: 50%;
    list-style: none;
    display: flex;
}

.copyright li {
    padding: 0 10px 0 10px;
    flex-direction: row;
}

.copyright a  {
    color: #50575C;
    border-bottom: 1px dotted #717981;
}
.copyright a:hover {
    text-decoration: none;
    color: #18BFEF;
    border-bottom: 0px;
}