@font-face {
	font-family: "SourceSansPro-Black";
	src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf");
}

@font-face {
	font-family: "Merriweather-LightItalic";
	src: url("../fonts/Merriweather/Merriweather-LightItalic.ttf");
}

@font-face {
    font-family: "Merriweather-Light";
    src: url("../fonts/Merriweather/Merriweather-Light.ttf");
}

@font-face {
    font-family: "FontAwesome";
    src: url("../fonts/fonts/FontAwesome.otf");
}

a {
    text-decoration: none;
    color: #ffffff; 
}

.introlink {
    border-bottom: 1px dotted;
}

a:hover {
    text-decoration: none;
    border-bottom: none;
    color: #18bfef;
    transition: color 0.5s, border 0.5s;
}

.col-lg-12 {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: -10px;
}
/*-------------------------Header------------------------------*/

h1, h2 {
	color: white;
}

header {
    margin-top: 14rem;
    text-align: center;
}

h1 {
	font-family: 'SourceSansPro-Black', sans-serif;
    font-size: 8rem;
    letter-spacing: 0.075em;
    line-height: 1;
    margin-bottom: 3rem;
}

h2 {
	font-family: 'Merriweather-LightItalic', serif;
    font-size: 2rem;
    font-weight: 100;
    line-height: 2.3;
    margin-bottom: 3rem;
}

.fa-arrow-down {
    color: white;
    width: 65px;
    height: 65px;
    padding: 23px;
    border: solid 2px;
    border-radius: 5rem;
    margin-bottom: 9rem;
}

.fa-arrow-down:hover {
    color: #18bfef;
    transition: color 0.5s, border 0.5s;
}

/*-------------------------Navbar------------------------------*/

.topnav {
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 88%;
    background-color: RGBA(255, 255, 255, 0.2);
    height: 64px;
}

ul, li {
    list-style: none;
    display: flex;
    margin: auto;
}

.pages1 {
    font-family: 'SourceSansPro-Black', sans-serif;
    letter-spacing: 1px;
    float: left;
    height: 64px;
    padding: inherit;
}

.menu {
    border-bottom: none;
    height: 64px;
    padding: 20px;
}

.menu:hover {
    background-color: RGBA(255, 255, 255, 0.2);
    color: white;
    transition: background-color 0.7s;
}

.menuactive {
    border-bottom: none;
    height: 64px;
    padding: 20px;
    color: #212931;
    background-color: white;
}

.social1 {
    float: right;
    height: 64px;
    padding: inherit;
    font-size: 20px;
    margin-right: 3.5rem;
}

.sociallink{
    border-bottom: none;
    margin: 2rem;
}

/*-------------------------Main------------------------------*/

.col-lg-10 {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 88%;
    color: #212931;
    float: none;
    margin-bottom: 40px;
}

.col-lg-8 {
    background-color: white;
    width: 100%;
    color: #212931;
    float: none;
    margin-bottom: 110px;
    margin-left: auto;
    margin-right: auto;
}

.featuredpost {
    text-align: center;
    padding-top: 9%;
}


h3 {
	font-family: 'SourceSansPro-Black', sans-serif;
    font-size: 6.5rem;
    letter-spacing: 4px;
    color: #212931;
}

h3:hover {
    color: #18bfef;
    transition: color 0.5s, border 0.5s;  
}

.date1 {
    text-align: center;
    font-size: 16px;
    font-family: 'Merriweather-Light', serif;
    margin-bottom: 70px;
}

.date {
    text-align: center;
    font-size: 12px;
    font-family: 'Merriweather-Light', serif;
    margin-bottom: 20px;
}

.txt1 {
    font-family: 'Merriweather-LightItalic', serif;
    font-size: 16px;
    line-height: 35px;
    margin : 3.5%;
}

.txt {
    font-family: 'Merriweather-Light', serif;
    font-size: 15px;
    text-align: justify;
    width: 96%;
    margin-left: 10px;
    line-height: 35px;
    margin-bottom: 50px;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.zoom {
    position: relative;
    overflow: hidden;
    width: 907.2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8.8%;
}

.zoom img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom:hover img {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.zoom2 {
    position: relative;
    overflow: hidden;
    width: 457.2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7.4%;
}

.zoom2 img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom2:hover img {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.fullstory {
    color: #212931;
    font-family: 'SourceSansPro-Black', sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    width: 10%;
    padding: 15px 30px;
    border: 2px solid;
    border-color: #212931;
}

.fullstory1 {
    color: #212931;
    font-family: 'SourceSansPro-Black', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    width: 10%;
    padding: 16px 45px;
    border: 2px solid;
    border-color: #212931;
}

.fullstory1:hover {
    text-decoration: none;
    border-bottom: 2px solid;
    color: #18bfef;
    border-color: #18bfef;
    transition: color 0.5s, border 0.3s;
}

.fullstory:hover {
    text-decoration: none;
    border-bottom: 2px solid;
    color: #18bfef;
    border-color: #18bfef;
    transition: color 0.5s, border 0.3s;
}

.col-lg-5 {
    display: inline-block;
    text-align: center;
    float: none;
    padding: 0px 40px 50px 40px;
    width: 49%;
    margin: 100px 4px 0px;
}

.olderpost {
    text-align: center;
    width: 100%;
}

h4 {
	font-family: 'SourceSansPro-Black', sans-serif;
    font-size: 28px;
    letter-spacing: 3px;
    color: #212931;
    line-height: 35px;
    margin-bottom: 20px;
}

h4:hover {
    color: #18bfef;
    transition: color 0.5s, border 0.5s;  
}
